.imgRestaurante {
width: 89px;
height: 89px;

}

.img-detalhes{
    display: flex;
}

.cardRestaurante{
    font-family: 'Ubuntu';
    position: absolute;
    left: 21px;
    top: 124px;
    color: #828282;
}

.detalhesRestaurante{
    margin-left: 20px;
}

.detalhesRestaurante p{
    font-size: 12px;
    margin: 2px;
}

.detalhesRestaurante span{
    font-size: 14px;
    margin: 2px;
}

.nota {
    color: #ED6E27
}

.descricao {
margin-top: 30px;
width: 311px;
height: 47px;
font-weight: 400;
font-size: 12px;
line-height: 14px;
}

.endereco {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}



