.imgRestaurante {
width: 89px;
height: 89px;

}

.img-detalhes{
    display: flex;
}

.cardRestaurante{
   margin-top: 10px;
}

.detalhesRestaurante{
    margin-left: 20px;
}

.detalhesRestaurante p{
    font-size: 12px;
}

.nota {
    color: #ED6E27
}

