.imgRestaurante {
width: 89px;
height: 89px;

}

.img-detalhes{
    display: flex;
}

.cardRestaurante{
   margin-top: 10px;
    font-family: 'Ubuntu';
    color: #828282;
}

.detalhesRestaurante{
    margin-left: 20px;
}

.detalhesRestaurante p{
    font-size: 12px;
    margin: 2px;
}

.detalhesRestaurante span{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 2px;
}

.nota {
    display: flex;
    align-items: center;
    color: #ED6E27
}

.entrega {
    display: flex;
}

.descricao {
margin-top: 30px;
width: 311px;
font-weight: 400;
font-size: 12px;
line-height: 14px;
}

.endereco {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}



